pytz~=2024.2
colorama~=0.4.6
Flask~=3.0.3
APScheduler~=3.10.4
requests~=2.32.0
beautifulsoup4~=4.12.3
google-auth~=2.35.0
google-auth-oauthlib~=1.2.1
google-api-python-client~=2.147.0
gunicorn==22.0.0
Werkzeug~=3.0.4
rich==13.0.0
protobuf~=5.28.2